.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.gepa {
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  position: relative;
}

.routes {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px; 
  flex-grow: 1; 
}

.perfumes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

.perfume {
  text-align: center;
}

.perfume h3,
.movie p {
  margin: 0 0 1rem 0;
  max-width: 15rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 1.2;
  justify-self: center;
}


.perfume img {
  border-radius: 8px;
  margin-top: 16px;
  max-height: 15em;
  align-items: center;
  display: block;
}

.perfume {
  width: 220px;
  height: auto;
  text-align: center;
  margin: 1rem;
}

.perfume-card img,
.admin-product img {
  border-radius: 8px;
}


.perfume-image-container {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  gap: 20px;
}

.perfume-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  gap: 20px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.1)); 
}

input[type="email"] {
  background-color: var(--primary-color); 
  color: var(--text-color); 
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="email"]:focus {
  background-color: #fff; 
  border-color: #4caf50; 
}

